body {
    text-align: center;
    background-color: cornsilk;
}

header {
    border-bottom: 3px;
    background-color: rgb(144, 241, 64);
}

.buttons {
    display: block;
    width: 20%;
    margin: auto;
    margin-bottom: 1%;
}

button {
    margin: 1%;
    background-color: green;
    color: white;
}

button:hover {
    background-color: greenyellow;
}

h3 {
    font-weight: bold;
}

p {
    color: red;
}